@import '../../pages/index.css';

.eye {
    cursor: pointer;
    width: 90dvw;
    animation: eye 4s linear infinite;
}

@keyframes eye {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 25px var(--foreground));
    }

    33% {
        transform: scale(0.95);
        filter: drop-shadow(0 0 60px var(--foreground));
    }

    66% {
        transform: scale(1.05);
        filter: drop-shadow(0 0 15px var(--foreground));
    }

    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 25px var(--foreground));
    }
}
