@import '../../pages/index.css';

.wait {
    position: relative;
    margin: 0 10dvw;
}

.message {
    font-size: min(8dvw, 8dvh);

    opacity: 0;
    animation: fadeInAndOut 20s linear 1;
}

.closed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    animation: fadeIn 4s 20s forwards, eye-closed 4s linear infinite;
}

.time {
    text-align: center;
    font-size: min(6dvw, 6dvh);
    margin: 0 10dvw;

    opacity: 0;
    animation: fadeIn 2s 7s forwards;
}

.next {
    text-align: center;
    font-size: min(9dvw, 9dvh);
    margin: 0 10dvw;

    opacity: 0;
    animation: fadeIn 3s 1s forwards;
}

.eye {
    margin: 0 10dvw;

    opacity: 0;
    animation: fadeIn 3s 2s forwards;
}

@keyframes fadeInAndOut {
    0% {
        filter: drop-shadow(0 0 50px var(--foreground));
        opacity: 0;
    }

    25% {
        opacity: 0.7;
        filter: drop-shadow(0 0 5px var(--foreground));
    }

    50% {
        opacity: 1;
        filter: none;
    }

    75% {
        opacity: 0.7;
        filter: drop-shadow(0 0 5px var(--foreground));
    }

    100% {
        filter: drop-shadow(0 0 50px var(--foreground));
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes eye-closed {
    0% {
        filter: drop-shadow(0 0 25px var(--foreground));
    }

    33% {
        filter: drop-shadow(0 0 60px var(--foreground));
    }

    66% {
        filter: drop-shadow(0 0 15px var(--foreground));
    }

    100% {
        filter: drop-shadow(0 0 25px var(--foreground));
    }
}
